html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --white: hsl(0, 0%, 100%);
  --violet: hsl(257, 40%, 49%);
  --soft-Magenta: hsl(300, 69%, 71%);

  --poppins: 'Poppins', sans-serif;
  --openSans: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--openSans);
  font-weight: 400;
  font-size: 1rem;
  background-color: rgb(142, 133, 133);
  color: var(--white);
}

a {
  text-decoration: none;
}

.stensil {
  position: relative;
  height: 100vh;
  max-width: 375px;
  margin: auto;
  background-image: url('./design/mobile-design.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 620px) {
  .stensil {
    height: 800px;
    max-width: 1440px;
    background-image: url('./design/desktop-design.jpg');
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 2.125rem;
}
@media (min-width: 620px) {
  .header {
    padding: 3.3125rem 4.3125rem;
  }
}

.header__logo img {
  width: 8.0625rem;
}
@media (min-width: 620px) {
  .header__logo img {
    width: 13.5rem;
  }
}

.main {
  padding-top: 6.2948125rem;
}
@media (min-width: 620px) {
  .main {
    padding-top: 10.2656rem;
  }
}

.hero {
  padding: 1.4375rem 2.3125rem 0;
}
@media (min-width: 620px) {
  .hero {
    padding: 1.8125rem 4.5625rem 0;
  }

  .hero__grid {
    display: flex;
    gap: 2rem;
  }
}

@media (max-width: 619px) {
  .hero__image {
    margin-bottom: 1rem;
  }

  .hero__image img {
    width: 18.8125rem;
  }
}

.hero__text {
  padding-top: 1.1875rem;
  text-align: center;
}
@media (min-width: 620px) {
  .hero__text {
    text-align: left;
    padding: 2.6875rem 1.3125rem;
    letter-spacing: -0.78px;
    line-height: 1.45;
  }
}

.hero__title {
  margin-top: 1.215rem;
  margin-bottom: 0;
  font-family: var(--poppins);
  font-weight: 600;
}
@media (min-width: 620px) {
  .hero__title {
    margin-top: 0;
    font-size: 2.5625rem;
  }
}

.hero__description {
  margin-top: 0.875rem;
  margin-bottom: 1.5rem;
  line-height: 1.4875;
}
@media (min-width: 620px) {
  .hero__description {
    margin-top: 1.25rem;
    margin-bottom: 1.565rem;
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.5;
  }
}

.hero__button {
  display: inline-block;
  font-family: var(--poppins);
  background-color: var(--white);
  color: var(--violet);
  padding: 0.5625rem 4.375rem;
  border-radius: 5rem;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
@media (min-width: 620px) {
  .hero__button {
    padding: 0.85rem 3.95rem 1rem;
    font-size: 18px;
    letter-spacing: 0.1px;
  }
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--soft-Magenta);
  color: var(--white);
  outline-offset: 3px;
}

.hero__social {
  margin-top: 2.4rem;
  padding-top: 1.4375rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.hero__social a {
  display: inline-block;
  color: var(--white);
  font-size: 0.875rem;
  border: solid 1px var(--white);
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  transition: border 200ms ease-in-out, color 200ms ease-in-out;
}

.hero__social a:hover,
.hero__social a:focus {
  border: solid 1px var(--soft-Magenta);
  color: var(--soft-Magenta);
  outline-offset: 3px;
}

.hero__social a:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 620px) {
}
