html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-Magenta: hsl(300, 69%, 71%);

  --poppins: 'Poppins', sans-serif;
  --openSans: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--openSans);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.stensil {
  position: relative;
  height: 100vh;
  max-width: 375px;
  margin: auto;
  background-image: url('./design/mobile-design.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 620px) {
  .stensil {
    height: 800px;
    max-width: 1440px;
    background-image: url('./design/desktop-design.jpg');
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px 34px;
}
@media (min-width: 620px) {
  .header {
    padding: 53px 69px;
  }
}

.header__logo img {
  width: 129px;
}
@media (min-width: 620px) {
  .header__logo img {
    width: 216px;
  }
}

@media (min-width: 620px) {
}
